@import 'bootstrap-sprockets';
@import 'bootstrap';

body{
	padding-top: 60px;
};

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

ul {
  li{
    list-style-type: none;
    text-align: center;
  }
}